* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    width: 100vw;
    height: 15vh;
}

#navegacion {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
}

.lista_nav {
    width: 100vw;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#boton-nav {
    width: 100px;
    height: 10px;
    color: white;
    background-color: black;
    border-style: none;
}

ul {
    list-style: none;
    text-align: center;
    color: white;

}

li {
    margin: 1vw;
}

#prod,
#courses,
#resources,
#sign {
    color: white;
    background-color: black;
    border-color: black;
}

#try {
    border-style: ridge;
    border-width: 0.1vw;
}


.logo{

    background-color: white;
    box-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
    width: 10px;
    height: 10px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center; 
}

#logo{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa {
    width: 25px;
    height: 25px;
}

#nav2 {
    display: flex;
    justify-content: flex-end;
}

.menu{
    display: none;
}


main {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(223, 71, 33) 0%, rgb(87, 0, 128) 70%, rgb(41, 43, 166)100%);
}


.cuadro-fondo {
    background-image: url(logo.png);
    background-position: center;
    background-size: 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparente {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(65deg, rgba(78, 0, 63, 0.3) 0%, rgba(33, 0, 103, 0.247) 48%, rgba(81, 0, 64, 0.3) 100%);
    z-index: 2;
}

.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 10vmax;
    margin-left: 20%;
    font-size: 1.5vw;
    z-index: 2;
    
}

.texto-principal h2,
p {
    color: white;
    width: 100%;
    height: 100px;
}


.planes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vmax;
    font-size: 1vmax;
}

#plan1,
#plan2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    background-color: black;
    color: white;
    border-style: none;
    width: 30vmax;
    height: 5vmax;
    font-size: 2em;
}

#plan2 {
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-style: inset;
    border-color: white;
}


#contenido {
    height: 15vh;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.lenguaje {
    margin: 10px;
    background: rgb(84, 84, 84);
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.logoJS {
    margin-top: -1%;
    margin-right: -1%;
    height: 4vw;
    width: 4vw;
}

.logoA {
    margin-top: -1%;
    margin-right: -1%;
    height: 4vw;
    width: 4vw;
}

#trending {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.texto-cursos {
    color: white;
    font-size: 90%;
    margin-left: 15px;
}

.texto-cursos2{
    color: white;
    font-size: 1vw;
    margin-left: 1vw;
}

.no-cursos {
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    font-size: 80%;
}

.morado {
    margin-left: 15px;
    color: rgb(206, 163, 247);
    font-weight: 300;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(194, 117, 239);
}

.texto-cursos3{
    display: none;
}

.simbolo {
    color: rgb(206, 163, 247);
    font-weight: 300;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(180, 111, 220);
}


/* Moviles */
@media screen and (max-width: 767px) {

    #prod,
    #courses,
    #boton-nav,
    #resources,
    #sign,
    #try,
    .texto-cursos3 {
        display: none;
    }

    header {
        height: 15vh;
        width: 100vw;
    }

    .menu{
        display: inline;
        width: 100%;
        height: 100%;
        font-size: larger;
        color: white;
        background-color: black;
        border-style: none;
    }

    .logo_gato{
        width: 10vw;
        height: 10vw;
    }

    #plural{
        padding-left: 3vw;
        text-align: center;
    }

    main {
        height: 70vh;
        width: 100vw;
    }


    .transparente {
        background: linear-gradient(65deg, rgba(78, 0, 63, 0.5) 0%, rgba(69, 21, 103, 0.5) 48%, rgba(81, 0, 64, 0.3) 100%);
    }

    .texto-principal {
        margin-top: -3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        height: 20vh;
        margin-left: -27%;
        font-size: 2vh;
        z-index: 2;
    }

    .planes {
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        margin: none;
    }

    #plan1, #plan2{
        width: 215px;
        height: 300px;
    }

    #plan2 {
        margin-left: 0px;
        margin-top: 1vh;
    }


  
    #contenido {
        height: 15vh;
        width: 100vw;
    }

    .lenguaje {
        margin: 10px;
        background: rgb(84, 84, 84);
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }

    .texto-cursos {
        color: white;
        font-size: 12px;
        margin-left: 1vw;
    }

    .texto-cursos2{
        color: white;
        font-size: 12px;
        margin-left: 1vw;
    }

    #trending {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 30vw;
        font-size: 1px;
    }

    .no-cursos {
        font-family: Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        margin-left: 1vw;
        font-size: 11px;
    }

    .morado {
        margin-left: 1vw;
        color: rgb(206, 163, 247);
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: rgb(83, 6, 147);
        font-size: 3.5vw;
    }

    .simbolo {
        display: none;
    }
}

/* Tabletas y Televisores*/
@media screen and (min-width: 767px) and (max-width: 1023px) {

    #prod,
    #courses,
    #boton-nav,
    #resources,
    #sign,
    #try {
        display: none;
    }

    header {
        height: 10vh;
        width: 100vw;
    }

    #nav2{
        margin-right: 5%;
    }

    .menu{
        display: inline;
        width: 150%;
        height: 150%;
        font-size: 250%;
        color: white;
        background-color: black;
        border-style: none;
        margin-top: -10px;
    }

    .lupa{
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .li-lupa{
        width: 3vw;
    }

    .logo_gato{
        vertical-align: middle;
        width: 70px;
        height: 70px;
    }

    main {
        height: 80vh;
        width: 100vw;
    }

    .cuadro-fondo {
        background-image: url(logo.png);
        background-position: center;
        background-size: 90%;
        background-position-x: 50px;
    }

    .texto-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2vh;
        z-index: 2;
    }

    .planes {
        margin-top: 20vh;
 
    }

    .lenguaje {
        display: none;
    }

    #contenido{
        display: flex;
        justify-content: flex-start;
    }

    #trending {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 40vw;
    }

    .morado {
        margin-left: 3vw;
        color: rgb(206, 163, 247);
        font-size: 20px;
    }

    .texto-cursos3{
        display: flex;
        color: white;
        width: 90vw;
        height: 100vh;
        font-size: 20px;
        margin-left: 3vw;
        
        
    }

    .simbolo, .texto-cursos2 {
        display: none;
    }
}
