---
import Title from "../../components/pokemons/Shared/Title.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { Counter } from "../../components/Counter";
import { FavoritePokemos } from "../../components/pokemons/FavoritePokemons";

---

<MainLayout title="Favoritos">

    <Title> Favoritos </Title>

    <FavoritePokemos client:only="solid-js"/>

</MainLayout>