---
import Title from "../../components/pokemons/Shared/Title.astro";
import MainLayout from "../../layouts/MainLayout.astro";


---

<MainLayout title="Favoritos">

    <Title>
        Favoritos
    </Title>

    <h2> Hola Mundo </h2>

</MainLayout>