.direccion {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    padding-left: 30%;
    padding-top: 40%;
}

#motor{
    border-radius: 50px;
    width: 120px;
    height: 60px;
    font-size: xx-large;
    color: #fff;
    background: #000;
}

#camara{
    border-radius: 50px;
    width: 120px;
    height: 60px;
    font-size: xx-large;
    color: #fff;
    background: #000;

}

#helice{
    width: 30px;
    height: 15%;
    border-radius: 50px;
    width: 120px;
    height: 60px;
    font-size: xx-large;
    color: #fff;
    background: #000;
}

#base{
    border-radius: 50px;
    width: 120px;
    height: 60px;
    font-size: xx-large;
    color: #fff;
    background: #000;
}

