---
import Header from "../components/books/header.astro"
import Footer from "../components/books/footer.astro"
interface Props {
    title: string;    
}

const {title} = Astro.props
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class=" bg-black text-slate-100 m-auto max-w-screen-2xl ">
		
		<header>
			<Header/>
		</header>
		
		<main>
			<slot/>
		</main>

		<footer>
			<Footer/>
		</footer>
	</body>
</html>
